$blue: rgb(40, 151, 211);

.App {
  text-align: center;
  min-height: 100vh;
}

.no-wrap {
	white-space: nowrap;
}

.banner {
  max-width: 40vw;
  margin-top: 50px;
}

.sort-form {
  display: inline-block;
  text-align: left;

  margin: 80px 0;
  padding: 20px;

  background-color: rgb(222,222,222);
  border: 2px solid $blue;
  border-radius: 4px 24px 4px 24px;
}

.select {
	margin: 10px;
}

.center-contents {
	margin-top: 10px;
	text-align: center;
}

.blue-btn {
	color: white;
  background-color: $blue;
  border-radius: 4px;
	transition: 0.10s;

	&:active {
		color: $blue;
		background-color: white;
	}
	&:focus {
		outline: none;
	}
}

.table-body {
	text-align: left;
}

.table-heading {
	cursor: pointer;
}

.active-col {
	color: $blue;
}
